<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Raul Galindo - Full Stack Web Developer</title>
    <link rel="stylesheet" href="<%= @items['/stylesheet/'].path %>">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div id="main">
      <section class="head">
        <img class="portrait" src="http://rgalindo33.github.io/images/raul.jpg">
        <p>
          <strong>Raul Galindo</strong>
          - Full Stack Web Developer 
          <br>
          +34 671642372
          <br>
          <a href="mailto:rgalindo33@gmail.com">rgalindo33@gmail.com</a>
          <br>
          <a href="http://github.com/rgalindo33" title="View Github account" target="blank" class="no_pdf">
            <img class="links" src="images/GitHub.png">
          </a>
          <a href="/raul_galindo_resume.pdf" title="Download as PDF" target="blank" class="download no_pdf">
            <img class="links" src="images/download.png">
          </a>
        </p>
      </section>

      <%= yield %>

    </div>
    </div>
  </body>
</html>